<!DOCTYPE html>
<html>

<head>
    {{> head_meta}} {{> head_css}}
    <title>About - Jennifer Farley Gordon</title>
</head>

<body class="about">
    <div class="container-fluid">
        {{> navbar about=true}}
    </div>

    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>ABOUT JENNIFER FARLEY GORDON</h2>
        </div>
    </div> -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-5">
                <img class="img-circle" src="img/Jennifer.jpg">
            </div>
            <div class="col-lg-7">
                <p>
                    Jennifer Farley Gordon is an independent researcher, writer, and curator, specializing in fashion history. She received a
                    Ph.D. in
                    <a href="http://www.aeshm.hs.iastate.edu/" target="blank">Apparel, Merchandising, and Design</a> at Iowa State University (ISU) in 2016. Her doctoral research
                    on the mid-twentieth century designer children’s wear industry was funded by the
                    <a href="http://costumesocietyamerica.com/stella-blum-interview/" target="blank">Stella Blum Student Research Grant</a> awarded by the Costume Society of America.
                </p>
                <p>
                    At ISU, she worked as a Collections Assistant at the
                    <a href="http://www.aeshm.hs.iastate.edu/tc-museum/" target="blank">Textiles and Clothing Museum</a>. She holds an M.A. in
                    <a href="https://www.fitnyc.edu/fashion-textile-history/" target="blank">Fashion and Textile Studies: History, Theory, Museum Practice</a> from the Fashion Institute of Technology
                    and a B.S. in
                    <a href="http://www.human.cornell.edu/fsad/" target="blank">Textiles and Apparel</a> from Cornell University.
                </p>
                <p>
                    She formerly worked as an assistant curator at
                    <a href="https://www.fitnyc.edu/museum/" target="blank">The Museum at the Fashion Institute of Technology (MFIT)</a> in New York. She was the curator of the
                    2013 exhibition
                    <a href="http://sites.fitnyc.edu/depts/museum/RetroSpective/" target="blank">RetroSpective</a> in MFIT's Fashion and Textile History Gallery. She has also co-curated a number of
                    exhibitions in that space, including
                    <a href="http://sites.fitnyc.edu/depts/museum/FashionAndPolitics/" target="blank">Fashion & Politics</a> and
                    <a href="http://sites.fitnyc.edu/depts/museum/Eco_Fashion_Going_Green/" target="blank">Eco-Fashion: Going Green</a>. The latter exhibition was awarded the
                    <a href="http://costumesocietyamerica.com/resources/grants-awards-and-honors/richard-martin-exhibition-awards/" target="blank">2011 Richard Martin Exhibition Award</a> from the Costume Society of America. She is the co-author of
                    <a href="https://www.bloomsbury.com/us/sustainable-fashion-9780857851840/" target="blank">Sustainable Fashion: Past, Present, and Future</a>, published in 2015 by Bloomsbury.
                </p>
                <p>
                    Her area of expertise is twentieth-century fashion, particularly the history of the children's wear industry and children's
                    wear designers in the United States. She is conducting ongoing research into the children's wear industry,
                    as well into the trend for matching mother-daughter fashions.</p>
                <h4>
                    <strong>Interested in connecting?</strong>
                </h4>
                <p>Current research interests include collecting personal stories about the wearing of mother-daughter fashions
                    and the experiences of designers and fashion industry professionals who have worked in the children's
                    wear industry. If you'd like to share those stories, or have questions, ideas for collaboration, or opportunities
                    to discuss, please email me at jfgordon[at]jfgordon.net or <a href="https://www.linkedin.com/in/jennifer-farley-gordon-ph-d-7582b523/">connect with me on LinkedIn</a></p>
            </div>
        </div>
    </div>
    {{> footer}}
</body>


</html>