<!DOCTYPE html>
<html>

<head>
    {{> head_meta}} 
    {{> head_css}}
    <title></title>
</head>

<body class="childrenswear">

    <div class="container-fluid">
        {{> navbar childrenswear=true}}
    </div>

    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>CHILDREN'S WEAR RESEARCH</h2>
        </div>
    </div> -->
    <div class="panel-body">
    </div>
    {{> footer}}
</body>

</html>