<!DOCTYPE html>
<html>

<head>
{{> head_meta}}
{{> head_css}}
    <title></title>
</head>

<body class="contact">
<div class="container-fluid">
{{> navbar about=true}}
    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>CONTACT JENNIFER FARLEY GORDON</h2>
        </div>
    </div> -->
    <div class="panel-body">
        x
    </div>
</div>
{{> footer}}
</body>


</html>