<!DOCTYPE html>
<html>

<head>
{{> head_meta}}
{{> head_css}}
    <title></title>
</head>

<body class="contact">
    <div class="container-fluid">
        <div class="row text-center">
            <img class="logo" src="img/logocopy.png">
        </div>
    </div>
    <div class="row">
{{> navbar contact=true}}
    </div>
    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>CONTACT JENNIFER FARLEY GORDON</h2>
        </div>
    </div> -->
    <div class="panel-body">
    </div>

</body>
{{> footer}}

</html>