<!DOCTYPE html>
<html>

<head>
{{> head_meta}}
{{> head_css}}
    <title></title>
</head>

<body class="home">
    <div class="container-fluid">
        <!--whole page-->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="brand-row row vertical-center">
                        <!-- <div class="col-sm-12 name-col text-center vertical-center"> -->
                        <a class="name-link" href="about.html"><img class="name-image" src="img/logo_transparent.png" /></a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;
        </div>
        <div class="row text-center">
            <p><strong>jennifer farley gordon</strong> / fashion historian / <a href="about.html">enter site</a></p>
        </div>
    </div>
</body>

</html>