    <div class="row text-center">
        <img class="logo" src="img/logo_transparent.png">
    </div>
    <div class="row">
        <nav class="navbar navbar-default " role="navigation ">
            <ul class="nav navbar-nav text-center ">
                <li{{#if home}} class="active"{{/if}}><a href="index.html">home</a></li>
                <li{{#if about}} class="active"{{/if}}><a href="about.html">about jfg</a></li>
                <li{{#if exhibitions}} class="active"{{/if}}><a href="exhibitions.html">exhibitions</a></li>
                <li{{#if publications}} class="active"{{/if}}><a href="publications.html">writing</a></li>
                {{!-- <li{{#if presentations}} class="active"{{/if}}><a href="presentations.html">presentations</a></li>
                <li{{#if childrenswear}} class="active"{{/if}}><a href="childrenswear.html">children's wear research</a></li> --}}
            </ul>
        </nav>
    </div>
