<!DOCTYPE html>
<html>

<head>
    {{> head_meta}} {{> head_css}}
    <title></title>
</head>

<body class="presentations">
    <div class="container-fluid">
        {{> navbar presentations=true}}
        </div>
    
    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>PRESENTATIONS</h2>
        </div>
    </div>-->
    <!--<div class="panel-body">
        <hr/>
        <div class="container">
            <div class="row text-center">
                <h3>SELECTED PRESENTATIONS</h3>
            </div>
        </div>
        <hr/>
    </div>-->
    <div class="container fluid">
        <div class="row">
            <div class="col-lg-8">
                <h4>Selected Presentations</h4>
            </div>
            <div class="col-lg-4">
                <img class="img" src="img/presentations.jpg">
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>