<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/site.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,700|Lora:400,700" rel="stylesheet">
</head>

<body class="presentations">
    <div class="container-fluid">
        <div class="row text-center">
            <img class="logo" src="img/logocopy.png">
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default " role="navigation ">
            <ul class="nav navbar-nav text-center ">
                <li>
                    <a href="index.html">home</a>
                </li>
                <li>
                    <a href="about.html">about jFG</a>
                </li>
                <li>
                    <a href="exhibitions.html">exhibitions</a>
                </li>
                <li>
                    <a href="publications.html">writing</a>
                </li>
                <li class="active">
                    <a href="presentations.html">presentations</a>
                </li>
                <li>
                    <a href="childrenswear.html">children's wear research</a>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>PRESENTATIONS</h2>
        </div>
    </div>-->
    <div class="panel-body">
        <hr/>
        <div class="container">
            <div class="row text-center">
                <h3>SELECTED PRESENTATIONS</h3>
            </div>
        </div>
        <hr/>
    </div>
</body>
<footer>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            &copy; 2017 Jennifer Farley Gordon
        </div>
    </div>
</footer>

</html>